[Unit]
Description=SWWW Manager - Hyprland Monitor Events
Documentation=https://github.com/kaminzhi/swww-manager
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/local/bin/swww-manager monitor-events

# Environment
Environment="RUST_LOG=info"

# Restart policy
Restart=always
RestartSec=3s

# Security
PrivateTmp=true
#ProtectSystem=strict
# ProtectHome=read-only
NoNewPrivileges=true

[Install]
WantedBy=graphical-session.target
